

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Form</title>
</head>
<body>
  <h1>User Registration Form</h1>

  <form action="/add" method="POST">
  <input type="hidden" name="user" value="<%= editdata._id %>">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="username" value="<%= editdata.username%>" required />
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="usermail" value="<%= editdata.usermail%>" required />
    </div>

    <div>
      <label for="age">Age:</label>
      <input type="number" id="age" name="userage" value="<%= editdata.userage%>" required />
    </div>

    <button type="submit">Submit</button>
  </form>


<table border="2">
  <thead>
    <tr>
        <th>id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>action</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% dispdata.map(user => { %>
      <tr>
         <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.usermail %></td>
        <td><%= user.userage %></td>
         <td>
          <a href="/model/edit/<%= user._id %>" >Edit </a>
          </td>
          <td>
          <a href="/model/del/<%= user._id %>">Delete</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
</body>
</html>
